@page "/"

<PageTitle>Todo Items</PageTitle>

@using Todo.Lib.TodoText
@inject ITaskItemManager taskItemManager

<h1>Todo</h1>

<div class="row">
	<div class="col-6">
		<div class="input-group mb-3">
			<input class="form-control" @bind-value="@_taskDescription" placeholder="Enter task description" />
			<div class="input-group-append">
				<button class="btn btn-secondary" id="addTask" text="Add Task" @onclick="AddTask">Add Task</button>
			</div>
		</div>
	</div>
</div>

@if (_taskItems == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Done</th>
			<th>Description</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@{
				var counter = 0;
			}
			@foreach (var item in _taskItems)
			{
				var i = ++counter;
				<tr>
					<td>@counter</td>
					<td>@(item.IsCompleted?"✓":"")</td>
					<td>@item.Description</td>
					<td>
						<button class="btn btn-danger" @onclick="() => DeleteTask(i)">Delete</button>
						<button style="width:80px;" class="btn btn-primary" @onclick="() => CompleteTask(i)">
							@(item.IsCompleted?"UnDone":"Done")
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<TaskItem>? _taskItems;
	private string _taskDescription;
	protected override void OnInitialized()
	{
		//forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
		_taskItems = taskItemManager.GetAll();
	}

	private void AddTask()
	{
		taskItemManager.AddTask(_taskDescription);
		_taskItems = taskItemManager.GetAll();
		_taskDescription = "";
	}

	private void DeleteTask(int taskId)
	{
		taskItemManager.RemoveTask(taskId);
		_taskItems = taskItemManager.GetAll();
	}

	private void CompleteTask(int taskId)
	{
			taskItemManager.Mark(taskId);
		_taskItems = taskItemManager.GetAll();
	}
}
